body{
    background: lightblue;
    font: normal 15pt Arial;
    color: white;

}

header{
    text-align: center;

}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    font-style: italic;
    box-shadow: 5px 5px 10px rgb(158, 158, 158);
    

}

div{
    text-align: center;
    padding: 10px;
}

footer{
    text-align: center;
    font-style: italic;

}